###############
### Console ###
###############

# Enable use of darkgrey.
bold_brightens_foreground=true
equip_bar = true

## For item_glyph, subsequent matches override previous ones.
item := item_glyph

## Reasonable defaults
item += potion:lightgrey
item += scroll:lightgrey
item += wand:lightgrey
item += dangerous_item:blue
item += useless_item:darkgrey

### Potions ###

item += potions? of.*(curing|flight):lightgrey
: if you.race() == "Vampire" then
  item += potions? of blood:lightgrey
: end
item += potions? of.*berserk:brown
item += potions? of.*might:yellow
item += potions? of.*cancellation:cyan

item += potions? of.*ambrosia:blue
item += potions? of.*experience:lightred
item += potions? of.*heal wounds:white
# Obsolete in 0.16
ai += ring of regeneration:regen, !d
item += potions? of.*(resistance|agility):green
item += potions? of.*(haste|invisibility):lightgreen
item += potions? of.*mutation:lightcyan
item += potions? of.*brilliance:magenta
item += potions? of.*magic:lightmagenta

### Scrolls ###

: if you.race() == "Vampire" or you.race() == "Mummy"
:  or you.race() == "Ghoul" then
  item += scroll.*holy word:darkgrey
  item += scroll.*torment:brown
: else
  item += scroll.*holy word:brown
  item += scroll.*torment:darkgrey
: end

item += scroll.*acquirement:white
item += scroll.*(summoning):yellow
item += scroll.*identify:cyan
item += scroll.*magic mapping:lightcyan

item += scroll.*(silence|vulnerability|immolation):blue
item += scroll.*remove curse:lightgrey
item += scroll.*(fog|teleport):green
item += scroll.*(fear|blink):lightgreen
item += scroll.*(recharging):magenta
item += scroll.*(enchant|brand weapon):lightmagenta

### Wands ###

# Sometimes dangerous
item += wand of.*random effects:blue

# Single target piercing.
item += wand of.*lightning:brown
item += wand of.*acid:yellow

item += wand of.*flame:lightgrey
item += wand of.*clouds:white

item += wand of.*digging:green

# Single-turn AOE
item += wand of.*iceblast:cyan
item += wand of.*scattershot:lightcyan

item += wand of.*(disintegration|confusion|polymorph):magenta
item += wand of.*(paralysis|enslavement):lightmagenta

### General Identification ###
item += (identified|known).*(jewellery|magical staff):brown
item += identified.*spellbook:magenta
item += unidentified.*(potion|scroll|jewellery|wand|magical staff).*:lightblue
item += unidentified.*book:lightmagenta
item += manual:lightcyan
item += manual of:cyan

### Jewellery ###
item += known.*(ring of (dexterity|strength|intelligence|slaying|evasion|protection(?! from))|amulet of reflection):magenta
item += identified.*artefact.*(jewellery):white
item += unidentified.*artefact.*(jewellery).*:lightmagenta
item += (a )?stones?$:lightgray

### Food ###
item += chunks?.*flesh:lightgrey
item += evil_eating.*chunk:red

item += ( ration):green

# Want this to override anything above
item += useless:darkgrey
# Only mark these types when forbidden; for other types it looks odd.
item += forbidden.*(potion|scroll|food):red

mons := mon_glyph
# Monsters that can be easy to miss
mons ^= * : ✱
mons ^= dancing weapon : cyan {
mons ^= spectral weapon : lightcyan {
# Classed Demonspawn
mon += blood saint:9
mon += warmonger:9
mon += corrupter:9
mon += black sun:9

# Wall glyphs; requires a font and terminal that can render these.
feature += crystal wall {░}
feature += stone wall {▒}
feature += metal wall {▓}
feature += unnaturally hard rock wall {█}

feature += altar {⚑}
